<app-menu></app-menu>
<div class="container">
    <div class="row my-2">
        <div class="col-md-6 mx-auto my-1">
            <form class="d-flex">
                <input class="form-control mx-auto " type="search" name="nomeProgetto" placeholder="Cerca progetto" aria-label="Search"
                    [(ngModel)]="nomeProgetto" (ngModelChange)="ripristino()" >
                <button class="btn btn-outline-success mx-2" type="submit" (click)="ricerca()">Cerca</button>
            </form>
        </div>
    </div>
    <scelta-tag #sceltaTagComponent></scelta-tag>
    <div class="row" *ngIf="progetti">
        <div class="col">
            <div class="card mx-auto mt-2" style="width: 18rem;" *ngFor="let progetto of progetti">
                <div class="card-body">
                    <h3 class="card-title">{{progetto.nome}}</h3>
                    <p>tags</p>
                    <h4 class="card-subtitle mb-2 text-muted">{{progetto.idProponente}}</h4>
                    <p class="card-text text-truncate">{{progetto.obiettivi}}</p>
                    <a routerLink="/dettagli-progetto/{{progetto.id}}" class="card-link">Dettagli</a>
                </div>
            </div>
        </div>
    </div>
</div>