<app-menu></app-menu>

<div class="container">
    <div class="card" style="width: 18rem;" *ngFor="let progetto of progetti">
        <div class="card-body">
            <h5 class="card-title">{{progetto.nome}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{progetto.idProponente}}</h6>
            <p class="card-text">{{progetto.obiettivi}}</p>
            <a routerLink="/dettagli-progetto/{{progetto.id}}" class="card-link">Dettagli {{progetto.id}}</a>
        </div>
    </div>
</div>
