<app-menu></app-menu>

<div class="container mt-5">
    <h1 class="text-center">Proponi un progetto</h1>
    <mat-vertical-stepper linear #stepper>
        <mat-step label="Step 1 - Informazioni sul progetto" errorMessage="Nome è richiesto."
            [stepControl]="formProgetto">
            <div class="container m-2">
                <div class="row mt-4">
                    <div class="col-md-6 mx-auto">
                        <form novalidate #f="ngForm" [formGroup]="formProgetto">
                            <div class="form-group mt-2 text-center">
                                <label class="mb-2" for="nome">Nome</label>
                                <input type="text" formControlName="primoCtrl" class="form-control" id="nome"
                                    [(ngModel)]="nome" name="nome" placeholder="Nome progetto" required>
                            </div>
                            <div class="form-group mt-2 text-center form-floating">
                                <textarea class="form-control" placeholder="Obiettivi" formControlName="secondoCtrl" name="obiettivi"
                                    [(ngModel)]="obiettivi" id="obiettivi" style="height: 100px" required></textarea>
                                <label for="obiettivi">Obiettivi</label>
                            </div>
                            <div class="form-group mt-2 text-center form-floating">
                                <textarea class="form-control" placeholder="Requisiti" formControlName="terzoCtrl" name="requisiti"
                                    [(ngModel)]="requisiti" id="requisiti" style="height: 100px" required></textarea>
                                <label for="requisiti">Requisiti</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 mx-auto" *ngIf="hasTags()">
                        <div class="form-group mt-2 text-center">
                            <label class="mb-2" for="tags">Tags</label>
                            <ul class="list-inline">
                                <li class="list-inline-item mx-1 my-1 btn"
                                    [ngClass]="tag.value ? 'btn-danger' : 'btn-primary'"
                                    *ngFor="let tag of tags | keyvalue" (click)="addTag(tag.key)"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="descrizione tag">
                                    <i class="fas fa-plus"></i>
                                    {{tag.key.nome}}
                                    <br>
                                    <span *ngIf="tag.value" style="font-size: 10px;">Rimuovi</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center mt-4">
                        <div class="col text-center mt-4">
                            <button class="btn btn-success btn-block text-center" [disabled]="!f.valid" mat-button matStepperNext
                               >Avanti</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>
        <mat-step label="Step 2 - Inviata progettisti">
            <div class="container m-2">
                <div class="row mt-4">
                    <div class="col-md-6 mx-auto mt-2">
                        <form>
                            <div class="form-group mt-2 text-center">
                                <label class="mb-2" for="idProgettista">Identificativo progettista</label>
                                <input type="text" class="form-control" id="idProgettista" [(ngModel)]="idProgettista"
                                    name="idProgettista" placeholder="Identificativo progettista" (keyup.enter)="ricercaIdProgettista()" (focusout)="ricercaIdProgettista()">
                                <small style="color:red" *ngIf="!progettistaEsistente">Progettista inesistente</small>
                                <small *ngIf="progettistaEsistente">Premere enter per aggiungere il progettista</small>
                            </div>
                            <div class="form-group mt-4 text-center form-floating" *ngIf="progettistiInvitati.size != 0">
                                <textarea class="form-control" placeholder="Messaggio..." name="messaggioProgettisti"
                                    [(ngModel)]="messaggioProgettisti" id="messaggioProgettisti" style="height: 100px"></textarea>
                                <label for="messaggioProgettisti">Messaggio da inviare ai progettisti</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <label class="mb-2" for="progettistiInvitati">Progettisti Invitati</label>
                        <ul class="list-group" id="progettistiInvitati" *ngFor="let progettista of progettistiInvitati">
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{progettista}}
                                <button class="btn btn-sm btn-danger" (click)="rimuoviProgettista(progettista)"><i class="fas fa-user-times"></i> Rimuovi</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center mt-4">
                        <button class="btn btn-outline-warning mx-2" mat-button matStepperPrevious>Indietro</button>
                        <button class="btn btn-success" type="button" disabled mat-button matStepperNext
                            *ngIf="ricercaProgettista">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Ricerca in corso...
                        </button>
                        <button class="btn btn-success" type="button" mat-button matStepperNext
                            *ngIf="!ricercaProgettista">Avanti
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>
        <mat-step label="Step 3 - Valuta progetto">
            <div class="container m-2">
                <div class="row mt-4">
                    <div class="col-md-6 mx-auto mt-2">
                        <form>
                            <div class="form-group mt-2 text-center">
                                <label class="mb-2" for="idEsperto">Identificativo esperto</label>
                                <input type="text" class="form-control" id="idEsperto" [(ngModel)]="idEsperto" (keyup.enter)="ricercaIdEsperto()" (focusout)="ricercaIdEsperto()"
                                    name="idEsperto" placeholder="Identificativo esperto">
                                <small style="color:red" *ngIf="!espertoEsistente">Esperto inesistente</small>
                            </div>
                            <div class="form-group mt-2 text-center form-floating" *ngIf="espertoEsistente && idEsperto && idEsperto.length!=0">
                                <textarea class="form-control" placeholder="Messaggio..." name="messaggioEsperto"
                                    [(ngModel)]="messaggioEsperto" id="messaggioEsperto" style="height: 100px"></textarea>
                                <label for="messaggioEsperto">Messaggio da inviare all'esperto</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <label class="mb-2" for="espertiConsigliati">Esperti consigliati</label>
                        <ul class="list-group" id="espertiConsigliati" *ngFor="let esperto of espertiConsigliati">
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{esperto}}
                                <a href="">Visualizza</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col text-center mt-4">
                        <button class="btn btn-outline-warning mx-2" mat-button matStepperPrevious>Indietro</button>
                        <button class="btn btn-success" type="button" disabled mat-button matStepperNext
                            *ngIf="ricercaEsperto">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Ricerca in corso...
                        </button>
                        <button class="btn btn-success" type="button" mat-button matStepperNext
                            *ngIf="!ricercaEsperto">Avanti
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>
        <mat-step label="Step 4 - Proponi">
            <div class="container m-2 text-center">
                <div class="row mt-4">
                    <div class="col-md-6 mx-auto mt-2">
                        <h3><b>Nome progetto</b>: {{nome}}</h3>
                        <h3><b>Obiettivi</b>: {{obiettivi}}</h3>
                        <h3><b>Requisiti</b>: {{requisiti}}</h3>
                        <h3 *ngIf="getTagsScelti().tags.length > 0"><b>Tags</b>: <span
                                *ngFor="let tag of getTagsScelti().tags">{{tag.nome}}</span></h3>
                        <h3 *ngIf="idProgettista"><b>Progettisti invitati</b>: {{idProgettista}}</h3>
                        <h3 *ngIf="idEsperto"><b>Esperto</b>: {{idEsperto}}</h3>
                    </div>
                </div>
                <div class="col text-center mt-4">
                    <button class="btn btn-outline-warning mx-2" mat-button matStepperPrevious>Indietro</button>
                    <button class="btn btn-success" (click)="onProponi()"><i class="far fa-plus-square"></i> Proponi
                        progetto</button>
                </div>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>