<app-menu></app-menu>

<mat-horizontal-stepper>
    <mat-step label="Step 1 - Informazioni sul progetto">
        Content 1
        <button class="btn btn-outline-warning" mat-button matStepperPrevious>Indietro</button>
        <button class="btn btn-outline-success" mat-button matStepperNext>Avanti</button>
    </mat-step>
    <mat-step label="Step 2 - Aggiungi progettisti">
        Content 2
    </mat-step>
    <mat-step label="Step 3 - Valuta progetto">
        Content 2
    </mat-step>
    <mat-step label="Step 4 - Proponi">
        Content 2
    </mat-step>
</mat-horizontal-stepper>

<div class="container mt-5">
    <h3 class="text-center">Proponi un progetto</h3>
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="onProponi()" novalidate #f="ngForm">
                <div class="form-group mt-2 text-center">
                    <label class="mb-2" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome"
                        placeholder="Nome progetto" required>
                </div>
                <div class="form-group mt-2 text-center form-floating">
                    <textarea class="form-control" placeholder="Obiettivi" name="obiettivi" [(ngModel)]="obiettivi"
                        id="obiettivi" style="height: 100px" required></textarea>
                    <label for="obiettivi">Obiettivi</label>
                </div>
                <div class="form-group mt-2 text-center form-floating">
                    <textarea class="form-control" placeholder="Requisiti" name="requisiti" [(ngModel)]="requisiti"
                        id="requisiti" style="height: 100px" required></textarea>
                    <label for="requisiti">Requisiti</label>
                </div>
                <div class="col text-center mt-4">
                    <button class="btn btn-outline-success btn-block text-center" [disabled]="!f.valid"><i
                            class="far fa-plus-square"></i> Proponi</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 mx-auto" *ngIf="hasTags()">
            <div class="form-group mt-2 text-center">
                <label class="mb-2" for="tags">Tags</label>
                <ul class="list-inline">
                    <li class="list-inline-item mx-1 my-1 btn" [ngClass]="tag.value ? 'btn-danger' : 'btn-primary'"
                        *ngFor="let tag of tags | keyvalue" (click)="addTag(tag.key)" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="descrizione tag">
                        <i class="fas fa-plus"></i>
                        {{tag.key.nome}}
                        <br>
                        <span *ngIf="tag.value" style="font-size: 10px;">Rimuovi</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>