<app-menu *ngIf="!valutazione"></app-menu>

<div *ngIf="progetto" class="container mx-auto">
  <div class="row mt-4">
    <div class="col-md-6 mx-auto mt-5">
      <h1 class="text-center">{{progetto.nome}}</h1><br>
      <ul class="list-inline">
        Tags:
        <li class="list-inline-item mr-2 btn my-1" [ngClass]="getColore(i)"
          *ngFor="let tag of progetto.tags; index as i;" style="cursor: default">{{tag.nome}}</li>
      </ul>
      <hr class="my-4">
      <h3>Obiettivi</h3>
      <p class="text-justify">{{progetto.obiettivi}}</p>
      <hr class="my-4">
      <h3>Requisiti</h3>
      <p class="text-justify">{{progetto.requisiti}}</p>
      <div *ngIf="progetto.lastValutazione">
        <hr class="my-4">
        <h3>Valutazione</h3>
        <a href="#"><span
            class="badge rounded-pill bg-success">{{progetto.lastValutazione.identificativoEsperto}}</span></a>
        <p class="text-justify">{{progetto.lastValutazione.recensione}}</p>
        <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Altro</a>
      </div>
      <hr class="my-4">
      <div *ngIf="progetto.gestoreCandidati.identificativiCandidati.length != 0">
        <p>Candidati:
          <a *ngFor="let idProgettista of progetto.gestoreCandidati.identificativiCandidati"
            routerLink="/visitatore/{{idProgettista}}">
            <span class="lead">{{idProgettista}} </span>
          </a>
        </p>
        <p>Partecipanti:
          <a *ngFor="let idProgettista of progetto.gestoreCandidati.identificativiPartecipanti"
            routerLink="/visitatore/{{idProgettista}}">
            <span class="lead">{{idProgettista}} </span>
          </a>
        </p>
      </div>
      <div *ngIf="progetto.gestoreCandidati.identificativiCandidati.length == 0">
        <h3>Nessun progettista presente.</h3>
      </div>
      <div class="jumbotron jumbotron-fluid mt-5 text-center">
        <div class="container">
          <h3 class="display-3">Proponente</h3>
          <a routerLink="/visitatore/{{progetto.idProponente}}">
            <p class="lead">{{progetto.idProponente}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-auto mt-5 text-center" *ngIf="!valutazione">
      <table class="table table-ligth table-hover">
        <tbody>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.gestoreCandidati.candidatureAperte">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="chiudiCandidature()">Chiudi candidature</td>
          </tr>
          <tr *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto()">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="faseSuccessiva()">Passa a fase
              successiva</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.stato != Stato.IN_VALUTAZIONE && progetto.fase == Fase.INIZIO">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="permettiValutazione()">Permetti valutazione</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.gestoreCandidati.candidatureAperte">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="invitaProgettista()">Invita un
              Progettista</td>
          </tr>
          <tr *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROGETTISTA)">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="partecipa()">Partecipa</td>
          </tr>
          <tr>
            <td class="list-group-item btn btn-outline-primary border-0 my-1" routerLink="/vetrina">Indietro</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal modal-dialog-scrollable fade" id="genericModal" tabindex="-1" aria-labelledby="genericModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="genericModalLabel">{{opzioniModal.titolo}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          {{opzioniModal.messaggio}}
          <invita-progettisti #invitaProgettisti *ngIf="opzioniModal.selettoreDaAttivare=='invita-progettisti'"
            [idProgetto]="progetto.id">
          </invita-progettisti>
          <permetti-valutazione #permettiValutazioneProgetto
            *ngIf="opzioniModal.selettoreDaAttivare=='permetti-valutazione'" [idProgetto]="progetto.id">
          </permetti-valutazione>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="chiudiModal()">Annulla</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="procediModal()">Procedi</button>
        </div>
      </div>
    </div>
  </div>
</div>