<app-menu *ngIf="!valutazione"></app-menu>

<div *ngIf="progetto" class="container mx-auto">
  <div class="row mt-4">
    <div class="col-md-6 mx-auto mt-5">
      <h1 class="text-center">{{progetto.nome}}</h1><br>
      <ul class="list-inline">
        Tags:
        <li class="list-inline-item mr-2 btn my-1" [ngClass]="getColore(i)"
          *ngFor="let tag of progetto.tags; index as i;" style="cursor: default">{{tag.nome}}</li>
      </ul>
      <hr class="my-4">
      <h3 class="fw-bold">Obiettivi</h3>
      <p class="text-justify">{{progetto.obiettivi}}</p>
      <hr class="my-4">
      <h3 class="fw-bold">Requisiti</h3>
      <p class="text-justify">{{progetto.requisiti}}</p>
      <div *ngIf="progetto.listaValutazioni && progetto.listaValutazioni.length !=0">
        <hr class="my-4">
        <h3 class="fw-bold">Valutazioni</h3>
        <!--
          Creare un component separato?
        -->
        <div class="card my-1">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{progetto.listaValutazioni[0].creatoIl}}</h4>
            <p class="card-text">{{progetto.listaValutazioni[0].recensione}}</p>
            <div class="container">
              <div class="row align-items-center">
                <button type="button" class="col list-inline-item btn btn-primary"
                  routerLink="/visitatore/{{progetto.listaValutazioni[0].identificativoEsperto}}">
                  Esperto: {{progetto.listaValutazioni[0].identificativoEsperto}}
                </button>
                <button type="button" *ngIf="progetto.listaValutazioni[0].valutazioniCandidati"
                  class="col list-inline-item btn btn-outline-success my-1" data-bs-toggle="modal"
                  data-bs-target="#genericModal" (click)="vautazioniCandidati(0)">
                  Valutazioni Progettisti
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="text-center align-middle btn btn-secondary my-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseValutazioni" aria-expanded="false" aria-controls="collapseExample">Vedi
            altro</button>
        </div>
-->
        <div class="collapse" id="collapseValutazioni">
          <div *ngFor="let valutazione of progetto.listaValutazioni;  index as i">
            <span *ngIf="i!=0">
              <div class="card my-1">
                <div class="card-body">
                  <h4 class="card-title fw-bold">{{valutazione.creatoIl}}</h4>
                  <p class="card-text">{{valutazione.recensione}}</p>
                  <div class="container">
                    <div class="row align-items-center">
                      <button type="button" class="col list-inline-item btn btn-primary"
                        routerLink="/visitatore/{{valutazione.identificativoEsperto}}">
                        Esperto: {{valutazione.identificativoEsperto}}
                      </button>
                      <button type="button" *ngIf="valutazione.valutazioniCandidati"
                        class="col list-inline-item btn btn-outline-success my-1" data-bs-toggle="modal"
                        data-bs-target="#genericModal" (click)="vautazioniCandidati(i)">
                        Valutazioni Progettisti
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="text-center align-middle btn btn-secondary my-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseValutazioni" aria-expanded="false" aria-controls="collapseExample">Vedi
            altro</button>
        </div>

      </div>
      <div *ngIf="!progetto.listaValutazioni || progetto.listaValutazioni.length ==0">
        <hr class="my-4">
        <h3>Nessuna valutazione.</h3>
      </div>
      <hr class="my-4">
      <div *ngIf="progetto.gestoreCandidati.identificativiCandidati.length != 0 ">
        <p>Candidati:
          <span *ngFor="let idProgettista of progetto.gestoreCandidati.identificativiCandidati">
            <a routerLink="/visitatore/{{idProgettista}}">
              <span class="lead">{{idProgettista}}</span>
            </a> 
          </span>
        </p>
      </div>
      <div *ngIf="progetto.gestoreCandidati.identificativiPartecipanti.length != 0 ">
        <p>Partecipanti:
          <span *ngFor="let idProgettista of progetto.gestoreCandidati.identificativiPartecipanti">
            <a routerLink="/visitatore/{{idProgettista}}">
              <span class="lead">{{idProgettista}}</span>
            </a> 
          </span>
        </p>
      </div>
      <div
        *ngIf="progetto.gestoreCandidati.identificativiCandidati.length == 0 && progetto.gestoreCandidati.identificativiPartecipanti.length == 0">
        <h3>Nessun progettista presente.</h3>
      </div>
      <div class="jumbotron jumbotron-fluid mt-5 text-center">
        <div class="container">
          <h3 class="display-3">Proponente</h3>
          <a routerLink="/visitatore/{{progetto.idProponente}}">
            <p class="lead">{{progetto.idProponente}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-auto mt-5 text-center" *ngIf="!valutazione">
      <table class="table table-ligth table-hover">
        <tbody>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.gestoreCandidati.candidatureAperte">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="chiudiCandidature()">Chiudi candidature</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.fase != Fase.PUBBLICAZIONE">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="faseSuccessiva()">Passa a fase
              successiva</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.stato != Stato.IN_VALUTAZIONE && progetto.fase == Fase.INIZIO">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="permettiValutazione()">Permetti valutazione</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && proprietarioProgetto() && progetto.gestoreCandidati.candidatureAperte">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="invitaProgettista()">Invita un
              Progettista</td>
          </tr>
          <tr
            *ngIf="hasRuolo(TipologiaRuolo.ROLE_PROGETTISTA) && !hasRuolo(TipologiaRuolo.ROLE_PROPONENTE) && progetto.fase != Fase.INIZIO">
            <td class="list-group-item btn btn-outline-primary border-0 my-1" data-bs-toggle="modal"
              data-bs-target="#genericModal" (click)="partecipa()">Partecipa</td>
          </tr>
          <tr>
            <td class="list-group-item btn btn-outline-primary border-0 my-1" routerLink="/vetrina">Indietro</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal modal-dialog-scrollable fade" id="genericModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="genericModalLabel">{{opzioniModal.titolo}}</h2>
          <button type="button" (click)="chiudiModal()" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          {{opzioniModal.messaggio}}
          <invita-progettisti #invitaProgettisti *ngIf="opzioniModal.selettoreDaAttivare=='invita-progettisti'"
            [idProgetto]="progetto.id">
          </invita-progettisti>
          <permetti-valutazione #permettiValutazioneProgetto
            *ngIf="opzioniModal.selettoreDaAttivare=='permetti-valutazione'" [idProgetto]="progetto.id">
          </permetti-valutazione>
          <div *ngIf="opzioniModal.selettoreDaAttivare=='valutazioni-candidati'">
            <span
              *ngIf="progetto.listaValutazioni[valutazioneCorrente].valutazioniCandidati && progetto.listaValutazioni[valutazioneCorrente].valutazioniCandidati.length!=0; else elseBlockValCandidati">
              <span *ngFor="let valCandidato of progetto.listaValutazioni[valutazioneCorrente].valutazioniCandidati">
                <div class="card my-1">
                  <div class="card-body">
                    <h4 class="card-title fw-bold">{{valCandidato.identificativoProgettista}}</h4>
                    <p class="card-text">{{valCandidato.recensione}}</p>
                  </div>
                </div>
              </span>
            </span>
            <ng-template #elseBlockValCandidati>Nessuna valutazione</ng-template>
          </div>
        </div>
        <div class="modal-footer">
          <span *ngIf="opzioniModal.selettoreDaAttivare!='valutazioni-candidati'; else elseBlockButtonModal">
            <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal"
              (click)="chiudiModal()">Annulla</button>
            <button type="button" class="btn btn-primary  mx-1" data-bs-dismiss="modal"
              (click)="procediModal()">Procedi</button>
          </span>
          <ng-template #elseBlockButtonModal>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="chiudiModal()">Chiudi</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>