<app-menu></app-menu>

<div class="container my-2">
    <div class="row my-3 text-center">
        <h2>Benvenuto in <span style="color:green">Doit</span>!</h2>
        <h3 *ngIf="identificativoIscritto">Bentornato {{identificativoIscritto}}</h3>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.bancaditalia.it/pubblicazioni/images/focus-on-800x250.jpg"
                            class="d-block w-100" alt="Immagina">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fw-normal fs-3">Immagina</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media-exp1.licdn.com/dms/image/sync/C4E27AQEE8M9nsHy3WQ/articleshare-shrink_800/0/1608298652581?e=2159024400&v=beta&t=ziEjo7alRv-6xEj8zNRn-TqiuRHhrQrK5tp_7dj96Ls"
                            class="d-block w-100 height" alt="Collabora">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fw-normal fs-3">Collabora</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.panasonic-eneloop.eu/sites/default/files/world-hand_0.jpg"
                            class="d-block w-100" alt="Crea">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fw-normal fs-3">Crea</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-md-4">

        </div>
        <div class="col col-md-4">

        </div>
        <div class="col col-md-4">

        </div>
    </div>
    <div class="container text-center mt-5">
        <h2>Qualcosa per riempire</h2>
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis ante purus, eu dignissim justo semper
            in.
            Integer quis luctus nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Nunc tincidunt sagittis dolor et ullamcorper. Maecenas lacinia dolor sed tortor venenatis
            accumsan.
            Aliquam non vehicula enim. Fusce felis turpis, consequat non purus at, pellentesque iaculis ante. Cras
            molestie
            eros vitae nisl mollis, nec egestas risus pharetra.

            Duis non mauris ut nibh tempor consectetur quis nec diam. Sed semper eleifend nunc, eu tristique velit
            lacinia
            non. Fusce vitae mauris sit amet sapien suscipit vehicula. Sed in sodales mi. Donec venenatis facilisis
            auctor.
            Phasellus et odio sed nibh scelerisque venenatis non in est. Nulla laoreet, nibh ac tincidunt molestie,
            lorem
            ligula vestibulum massa, in consectetur dui leo aliquet massa. Aliquam dignissim augue massa, a convallis
            arcu
            pulvinar eget. Nulla nec imperdiet eros, sit amet placerat justo. Duis vehicula in lorem quis sollicitudin.
            Pellentesque at nunc dui.</p>
    </div>
</div>