<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-2" routerLink="/">Doit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/vetrina"><i class="far fa-list-alt"></i>
                        Vetrina
                        progetti</a>
                </li>

                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link active" aria-current="page" routerLink="/aggiungi-ruolo"><i
                            class="fas fa-plus-circle"></i> Aggiungi Ruolo</a>
                </li>

                <li class="nav-item dropdown" *ngIf="hasRuolo('ROLE_PROPONENTE')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownProponente" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Proponente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProponente">
                        <li><a class="dropdown-item" routerLink="/proponente/proponi">Proponi progetto</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" *ngIf="!isLogged">
                <button class="btn btn-outline-success" type="submit" routerLink="/accedi"><i
                        class="fas fa-sign-in-alt"></i> Accedi</button>
            </form>
            <form class="d-flex" *ngIf="isLogged">
                <button class="btn btn-outline-primary mx-1" type="button" routerLink="/visitatore/{{getId()}}"><i class="far fa-user"></i> Profilo</button>
                <button class="btn btn-outline-success mx-1" type="button" routerLink="/bacheca"><i class="fas fa-envelope"></i> Messaggi</button>
                <button class="btn btn-outline-danger mx-1" type="button" (click)="onDisconnettiti()"><i class="fas fa-sign-out-alt"></i>
                    Disconnettiti</button>
            </form>
        </div>
    </div>
</nav>