<div id="card-ente" class="rounded-3 p-5 mt-3 mx-3" *ngIf="ente">
  <div class="row align-items-start">
    <div class="col-md-3 my-auto align-middle">
      <p class="fs-1 fw-bold text-break lh-sm">{{ente.identificativo}}</p>
    </div>
    <div class="col-md-6 border-start mt-3">
      <div class="row align-items-start">
        <p><span class="fw-bold">E-mail: </span> {{ente.email}}</p>
      </div>
      <div class="row align-items-start">
        <p><span class="fw-bold ">Sede: </span><span class="text-break">{{ente.sede}}</span></p>
      </div>
      <div class="row align-items-start">
        <p><span class="fw-bold">Anno di fondazione: </span> {{ente.annoDiFondazione | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
</div>