<app-menu></app-menu>

<div class="container px-4 px-md-3 my-5">
    <div class="row mb-5 pb-md-4 justify-content-center">
        <div class="card text-white mb-3 col-md-5 mx-1" style="max-width: 18rem;"
            *ngFor="let ruoloOpzioni of ruoliDisponibili; index as i;" [ngClass]="ruoloOpzioni.colore">
            <div class="card-header">Ruolo {{ruoloOpzioni.nome}}</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ruoloOpzioni.nome}}</h5>
                <p class="card-text">{{ruoloOpzioni.descrizione}} </p>
                <div class="text-center mt-auto">
                    <button type="button" class="btn btn-light" (click)="onAggiungiRuolo(ruoloOpzioni.tipo)">Aggiungi
                        Ruolo</button>
                </div>
            </div>
        </div>

        <h1 class="text-center" *ngIf="ruoliDisponibili.length == 0">
            Nessun ruolo disponibile!
        </h1>
    </div>
</div>